[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "==4.10.0"
fastapi = "==0.109.0"
pydantic = "==2.5.3"
requests = "==2.31.0"
tqdm = "==4.65.0"
uvicorn = "==0.26.0"
python-dotenv = "==1.0.0"
pymysql = {extras = ["rsa"], version = "*"}
anyio = "*"
chardet = "*"
openpyxl = "*"
pydantic-to-typescript = "*"

[dev-packages]

[requires]
python_version = "3.11"
